
/* Fonts
 * TODO 
 *  - any use for the variable fonts?
 *  - optimize font files
 *  	- Glyphhanger
 *  - fallbacks or is woff2 support ~universal these days?
 *  - preload in HTML (or HTTP)
 *  - swap or nah? 
 */

@font-face {
	font-family: "EB Garamond";
	src:
		url("/fonts/EB_Garamond/static/EBGaramond-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Inter";
	font-weight: normal;
	src:
		url("/fonts/Inter/static/Inter-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Inter";
	font-weight: bold;
	src:
		url("/fonts/Inter/static/Inter-Bold.woff2") format("woff2");
}


html {

	/* font stacks */
	--garamond: "EB Garamond", serif;
	--inter: "Inter", sans-serif;
	
	/* colors */
	--vermillion: #dd3b21;

	/* type sizing scale */
	--font-size--1: 0.75rem;
	--font-size-0: 0.875rem;
	--font-size-1: 1rem;
	--font-size-2: 1.125rem;
	--font-size-3: 1.25rem;
	--font-size-4: 1.375rem;
	--font-size-5: 1.5rem;
	--font-size-6: 1.75rem;
	--font-size-7: 2.25rem;
	
	font-family: var(--garamond);
	font-size: var(--font-size-2);

}

/* resets */

html, body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--inter);
}

a {
	color: var(--vermillion);
}

footer {
	font-family: var(--inter);
	background: var(--vermillion);
	color: white;
}

footer a {
	color: white;
}
