
/* Fonts
 * TODO 
 *  - any use for the variable fonts?
 *  - optimize font files
 *  	- Glyphhanger
 *  - fallbacks or is woff2 support ~universal these days?
 *  - preload in HTML (or HTTP)
 *  - swap or nah? 
 */

@font-face {
	font-family: "EB Garamond";
	src:
		url("/fonts/EB_Garamond/static/EBGaramond-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Inter";
	font-weight: normal;
	src:
		url("/fonts/Inter/static/Inter-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Inter";
	font-weight: bold;
	src:
		url("/fonts/Inter/static/Inter-Bold.woff2") format("woff2");
}


html {

	/* font stacks */
	--garamond: "EB Garamond", serif;
	--inter: "Inter", sans-serif;
	
	/* colors */
	--vermillion: #dd3b21;
	--vermillion-r: 86.667%;
	--vermillion-g: 23.137%;
	--vermillion-b: 12.941%;

	/* type sizing scale */
	--font-size--1: 0.75rem;
	--font-size-0: 0.875rem;
	--font-size-1: 1rem;
	--font-size-2: 1.125rem;
	--font-size-3: 1.25rem;
	--font-size-4: 1.375rem;
	--font-size-5: 1.5rem;
	--font-size-6: 1.75rem;
	--font-size-7: 2.25rem;
	
	font-family: var(--garamond);
	
	--section-gradient: linear-gradient(
		to top,
		rgb(
			var(--vermillion-r)
			var(--vermillion-g)
			var(--vermillion-b) / 0.05
		),
		transparent 20%
	);

}

/* resets */

html, body {
	margin: 0;
	padding: 0;
}


/* grid */

/* body, and the sections within main, are stacked using normal flow layout */
body > header,
main > section,
body > footer {
	display: grid;
	grid-template-columns: 1.5rem 1fr 1.5rem;
}

/* everything in header, sections within main, and footer
   gets put in the center content column
   (but can break out into the left/right margins to be full bleed if it needs to) */
body > header > *,
main > section > *,
body > footer > * {
	grid-column: 2;
}


/* basics */

h1, h2, h3, h4, h5, h6, hgroup, dt {
	font-family: var(--inter);
	font-kerning: normal; /* apply font kerning instructions */
	text-wrap: balance; /* in case of wrapping */
}

hgroup > h1,
hgroup > h2,
hgroup > h3,
hgroup > h4,
hgroup > h5,
hgroup > h6 {
	margin-bottom: 0;
}

a {
	color: var(--vermillion);
}

img {
	width: 100%;
	height: auto;
	max-width: 20em; /* TODO stopgap placeholder... */
}

.small-caps-head {
	font-size: var(--font-size--1);
	text-transform: uppercase;
}

.head {
	font-weight: bold;
	font-size: var(--font-size-0);
}

/* header */

.header-wrapper {
	border-top: 1px solid black;
}

.org-name {
	text-transform: uppercase;
	font-weight: bold;
	font-size: var(--font-size-0);
}

.org-subhead {
	margin-top: 0;
	text-transform: uppercase;
	font-weight: normal;
	font-size: var(--font-size-0);
}

header a[href="#signup"] {
	display: none;
}

/* intro */

.intro {
	background-image: linear-gradient(
		to top,
		rgb(
			var(--vermillion-r)
			var(--vermillion-g)
			var(--vermillion-b) / 0.05
		),
		transparent 20%
	);
}

.lede {
	font-size: var(--font-size-4);
}

.carousel {
	grid-column: 0 / 3;
}

.carousel figcaption {
	border-block-start: 1px solid black;
	font-family: var(--inter);
	font-size: var(--font-size--1);
}

.title {
	font-weight: bold;
	margin-bottom: 0;
}

.description {
	margin-block-start: 0;
}

/* projectOne */
/* fwd */

.giantFwd {
	font-size: 100px;
	font-family: var(--garamond);
	font-weight: normal;
	margin-block: 0;
}


/* footer */

footer {
	font-family: var(--inter);
	background: var(--vermillion);
	color: white;
}

footer a {
	color: white;
}
